{% load static %}





<form method="post" enctype="multipart/form-data" class="space-y-6">
  {% csrf_token %}

  {% for field in form %}
    <div>
      {{ field.label_tag }} {{ field }}
      {% if field.errors %}
        <p class="text-red-600 text-sm">{{ field.errors|striptags }}</p>
      {% endif %}
    </div>
  {% endfor %}



  <button class="bg-indigo-600 text-white px-4 py-2 rounded">Save</button>
  <a href="{% url 'post_list' %}" class="ml-2 underline">Cancel</a>
</form>
